html,
body {
  background-color: green;
  margin: 0px;
}

.hero {
}

nav {
  background-color: red;
  margin: 0px;
  padding: 0.75rem 0;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav > ul > a {
  display: inline;
  padding-right: 15px;
}

/*section */
section {
  background-color: yellowgreen;
  padding: 15px;
}
.sectionB {
  background-color: aqua;
}
